<div class="modal fade" id="applicationViewModal" tabindex="-1" aria-labelledby="applicationViewModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="applicationViewModalLabel">Application</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <table>
          <ul class="list-group list-group-flush">
            <li class="list-group-item container">
              <b class="row">Company Name</b>
              <p class="row" id="company_nameView"></p>
            </li>
            <li class="list-group-item container">
              <b class="row">Duration</b>
              <p class="row" id="durationView"></p>
            </li>
            <li class="list-group-item container">
              <b class="row">Employment</b>
              <p class="row" id="employmentView"></p>
            </li>
            <li class="list-group-item container">
              <b class="row">Start Date</b>
              <p class="row" id="start_dateView"></p>
            </li>
            <li class="list-group-item container">
              <b class="row">Expiry Date</b>
              <p class="row" id="expiry_dateView"></p>
            </li>
            <li class="list-group-item container">
              <b class="row">PDF</b>
              <div class="container">
                <div class="row">
                  <div class="col">
                    <a id="execution_certificateLink"  target="blank">Execution Certificate</a>
                  </div>
                  <div class="col">
                    <a id="completion_reportLink"  target="blank">Completion Report</a>
                  </div>
                  <div class="col">
                    <a id="progress_reportLink"  target="blank">Progress Report</a>
                  </div>
                </div>
              </div>
            </li>
            <li class="list-group-item container">
              <b class="row">First Name</b>
              <p class="row" id="first_nameView"></p>
            </li>
            <li class="list-group-item container">
              <b class="row">Last Name</b>
              <p class="row" id="last_nameView"></p>
            </li>
            <li class="list-group-item container">
              <b class="row">Email</b>
              <p class="row" id="emailView"></p>
            </li>
            <li class="list-group-item container">
              <b class="row">Comments</b>
              <p class="row" id="commentsView"></p>
            </li>
            <li class="list-group-item container">
                <b class="row">Grade</b>
                <p class="row" id="gradeView"></p>
            </li>
          </ul>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" id="reviewFromViewBtn" class="btn btn-secondary" data-bs-dismiss="modal" data-bs-toggle="modal" data-bs-target="#applicationReviewModal">Review Application</button>
      </div>
    </div>
  </div>
</div>