<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%- include('../partials/header'); %>
</head>
<%- include('../partials/navBar'); %>

<body>
  <br><br><br>
  <div class="container  p-5 w-75">
    <div class="row  shadow rounded bg-white p-4">
        <div class="col-md ">
        <a class="btn w-100 h-100 shadow-sm btn-outline-info rounded" href="/login">
          <div class="card border-0">
            <div class="card-body">
              <h5 class="card-title text-start">Login</h5>
              <p class="card-body text-start">Log in to your account</p>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>


  <%- include('../partials/scriptLink'); %>
</body>

</html>